$citySize: 32px;
$stationSize: 24px;
$selSize: 40px;
$cubeSize: 24px;
$outbrSize: 40px;
$playerSize: 40px;
$topIconSize: 20px;
$cubeFlashColor: #ebebeb;
$cardWidth: 144px;
$cardHeight: 200px;
$bottomBarMinHeight: 110px;

$events-list: airlift forecast gov_grant res_pop one_quiet_night;
$diseases-list: yellow red blue black;
$roles-list: cont_planner dispatcher medic ops_expert quar_spec researcher scientist;


html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

@font-face {
  font-family: Phage;
  src: url(../fonts/Phage.otf) format("opentype");
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes cube {
  0% {
    transform: rotate(0deg)
               translate(14px)
               rotate(0deg);
  }

  100% {
    transform: rotate(360deg)
               translate(14px)
               rotate(-720deg);
  }
}

@keyframes cube-flash {
  0%, 100% {
    box-shadow: initial;
  }

  50% {
    box-shadow: 0 0 50px 20px $cubeFlashColor;
  }
}

@keyframes outbreak-warning {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes cur-player {
  0% {
    transform: translate(-50%, -15px);
  }

  100% {
    transform: translate(-50%, -10px);
  }
}

@keyframes header-shadow {
  0%, 100% {
    color: #d9534f;
    text-shadow: 0 0 0;
  }

  50% {
    color: lighten(#d9534f, 5%);
    text-shadow: 0 0 7px rgba(255, 160, 160, 0.9);
  }
}

.game {
  .top-bar {
    position: fixed;
    left: 0;
    right: 0;
    width: 500px;
    top: 0;
    margin: 0 auto;
    z-index: 10000;

    .panel-body {
      padding: 2px;
      font-size: 0.8em;
      display: flex;
      justify-content: center;

      > span, > .rates span {
        padding: 0 3px;
      }

      span {
        vertical-align: middle;
      }

      .top-icon {
        background-size: $topIconSize $topIconSize;
        width: $topIconSize;
        height: $topIconSize;
        display: inline-block;
        margin-right: 2px;
      }

      @each $disease in $diseases-list {
        .cube-icon-#{$disease} {
          background-image: url(../images/cube_#{$disease}.png);
        }
      }

      .stations-icon {
        background-image: url(../images/station.png);
      }

      .infection-rate-icon {
        background-image: url(../images/infection_rate.png);
      }

      .outbreaks-icon {
        background-image: url(../images/outbreaks.png);
      }

      .player-deck {
        position: relative;

        .player-deck-icon {
          width: 25px;
          height: 35px;
          background-size: 25px 35px;
          background-image: url(../images/player_card.png);
          position: absolute;
          right: 18px;
        }
      }


      .infection-deck-icon {
        width: 25px;
        height: 35px;
        background-size: 25px 35px;
        background-image: url(../images/infection_card.png);
        position: absolute;
      }
    }
  }

  .bottom-bar {
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    min-height: $bottomBarMinHeight;
    border-top: 3px solid #485563;
    z-index: 50000;

    .panel-body {
      padding: 0;
    }

    .panel-heading {
      font-size: 1.4em;
    }

    .card:not(:last-child) {
      margin-right: 5px;
    }
  }

  .actions {
    @extend .bottom-bar;

    .panel-body {
      .btn {
        font-size: 1.2em;

        .fa-car {
          font-size: 0.9em;
        }

        .fa-plane {
          font-size: 1.1em;
        }
      }

      .play-event {
        position: absolute;
        top: 9px;
        right: 9px;
        width: 36px;
        height: 50px;
        padding: 0;
        border: none;
        border-radius: 1px;
        z-index: 10001;

        &:hover {
          box-shadow: 0 0 1px 1px white;
          transition: all 0.2s;
        }

        img {
          content: url(../images/event.png);
        }
      }
    }

    .panel-footer {
      text-align: center;
    }
  }

  .card-picker {
    @extend .bottom-bar;
    z-index: 10001;

    .panel-body {
      padding: 10px;
    }

    .card {
      &:focus {
        outline: none;
      }

      &:hover {
        box-shadow: 0 0 2px 2px white;
        transition: all 0.2s;
      }
    }

    &.multi-card-picker {
      .card.selected {
        box-shadow: 0 0 2px 2px orange;
      }
    }
  }

  .disease-picker {
    @extend .bottom-bar;

    .btn {
      padding: 4px 8px;

      img {
        width: 60px;
        height: 60px;

        @each $disease in $diseases-list {
          &.disease-#{$disease} {
            content: url('../images/city_#{$disease}.png');
          }
        }
      }
    }
  }

  .player-picker {
    @extend .bottom-bar;

    .btn {
      height: 70px;
    }
  }

  .forecast-bar {
    @extend .bottom-bar;

    .panel-body {
      display: flex;
      justify-content: center;

      > div {
        margin-right: 4px;
      }
    }
  }

  .team-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 110px;
    margin-bottom: 0;
    min-width: 150px;
    overflow-y: scroll;

    > .panel-body {
      padding: 0;
    }

    .team-player {
      margin-bottom: 0;

      .event {
        color: darkorange;

        .event-name {
          cursor: help;
          border-bottom: 1px dotted darkorange;
        }
      }

      .panel-heading {
        padding: 1px 9px;
        color: black;

        h5 {
          font-weight: bold;
          margin-top: 2px;
        }

        h5, h6 {
          margin-bottom: 2px;
        }

        h6 {
          display: inline;
          cursor: help;
          border-bottom: 1px dotted black;
        }
      }

      .list-group {
        padding-top: 5px;
        padding-bottom: 5px;
        border-left: 3px solid #485563;

        .list-group-item {
          padding: 0 5px;
          font-size: 0.9em;
        }
      }


      &.team-player-cont_planner {
        .panel-heading {
          background: #35acb3;
        }
      }

      &.team-player-dispatcher {
        .panel-heading {
          background: #b86291;
        }
      }

      &.team-player-medic {
        .panel-heading {
          background: darkorange;
        }
      }

      &.team-player-ops_expert {
        .panel-heading {
          background: #5fa73f;
        }
      }

      &.team-player-quar_spec {
        .panel-heading {
          background: #26734f;
        }
      }

      &.team-player-researcher {
        .panel-heading {
          background: #ad7457;
        }
      }

      &.team-player-scientist {
        .panel-heading {
          background: #c7c7c7;
        }
      }
    }

  }

  .map {
    position: relative;
    background: url(../images/map.jpg);
    background-size: cover;
    margin: -120px auto 0;
    overflow: hidden;

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20000;
      cursor: not-allowed;
    }

    .city, .player, .station {
      position: absolute;
    }

    .city {
      .icon {
        position: relative;
        z-index: 50;
        display: block;
        background: no-repeat center;
        background-size: $citySize $citySize;
        width: $citySize;
        height: $citySize;
        cursor: pointer;

        @each $disease in $diseases-list {
          &.#{$disease} {
            background-image: url(../images/city_#{$disease}.png);
          }
        }
      }

      .name {
        position: absolute;
        left: $citySize / 2;
        transform: translate(-50%, 0);
        font-family: 'Phage';
        font-size: 11px;
        color: white;
        text-shadow: 1px 1px 1px black;
        white-space: nowrap;
        user-select: none;
        cursor: default;
      }

      .selection-container {
        width: $selSize;
        height: $selSize;
        position: absolute;
        left: ($citySize - $selSize) / 2;
        top: ($citySize - $selSize) / 2;
        z-index: 1;

        .selection {
          width: 100%;
          height: 100%;
          display: block;
          float: left;
          background: url(../images/city_sel.png);
          background-size: $selSize $selSize;
          animation-name: rotate;
          animation-duration: 7s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        .selection-bg {
          width: 100%;
          height: 100%;
          display: none;
          background: lightblue;
          opacity: 0.5;
          border-radius: $selSize / 2;
        }
      }

      &:hover .selection-container .selection-bg {
        display: block;
      }

      .outbreak-warning {
        width: $outbrSize;
        height: $outbrSize;
        display: block;
        position: absolute;
        left: ($citySize - $outbrSize) / 2;
        top: ($citySize - $outbrSize) / 2;
        border-radius: $outbrSize / 2;
        background: darkred;
        animation-name: outbreak-warning;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
      }
    }

    .station {
      background: url(../images/station.png);
      background-size: $stationSize $stationSize;
      width: $stationSize;
      height: $stationSize;
      top: 10px;
      left: ($citySize - $stationSize) / 2;
      z-index: 100;
      cursor: pointer;
    }

    .player {
      width: $playerSize;
      height: $playerSize;
      background-size: cover;
      text-align: center;
      transform: translate(-50%, -($citySize));
      -webkit-transform: translate(-50%, -($citySize));
      z-index: 50;

      @each $role in $roles-list {
        &.#{$role} {
          background-image: url(../images/#{$role}.png);
        }
      }

      .cur-player {
        position: absolute;
        animation-name: cur-player;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: alternate;
      }
    }

    .path {
      position: absolute;
      height: 1px;
      box-shadow: 0px 0px 2px 1px #ccffff;
      transform-origin: 0 100%;
      -webkit-transform-origin: 0 100%;
      background: #ccffff;
    }

    .cube {
      position: absolute;
      width: $cubeSize;
      height: $cubeSize;
      background-size: $cubeSize $cubeSize;
      animation-name: cube;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      @each $disease in $diseases-list {
        &.#{$disease} {
          background-image: url('../images/cube_#{$disease}.png');
        }
      }

      &.cubes-1 {
        animation-duration: 9s;
      }

      &.cubes-2 {
        animation-duration: 6s;
      }

      &.cubes-3 {
        animation-duration: 3s;
      }

      &-flash::after {
        content: "";
        position: absolute;
        border-radius: $cubeSize / 2;
        z-index: 10050;
        width: 0;
        height: 0;
        top: $cubeSize / 2;
        left: $cubeSize / 2;

        animation-name: cube-flash;
        animation-timing-function: ease-in;
        animation-duration: 0.4s;
        animation-iteration-count: 1;
      }

      &-neighbor {
        border-radius: $cubeSize / 2;
        box-shadow: 0 0 4px 3px $cubeFlashColor;
      }
    }

    .cube-group {
      position: absolute;
    }
  }

  .hand {
    position: fixed;
    bottom: -40px;
    width: 100%;
    height: $cardHeight;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .card:not(:first-child) {
      margin-left: -$cardWidth / 2;
    }
  }

  .card {
    width: $cardWidth;
    height: $cardHeight;
    border: none;
    border-radius: 4px;

    @for $id from 0 through 47 {
      &.city-#{$id} {
        background-image: url('../images/city-#{$id}.png');
      }
    }

    @each $event in $events-list {
      &.event-#{$event} {
        background-image: url('../images/event-#{$event}.png');
      }
    }

    &.epidemic {
      background-image: url('../images/epidemic.png');
    }
  }

  .card-layer {
    position: absolute;
    width: 100%;
    height: 100%;//calc(100% - #{$bottomBarMinHeight});
    left: 0;
    top: 0;
    z-index: 11000;

    &.empty {
      display: none;
    }

    &.is-epidemic {
      .card-drawer {
        display: none;
      }
    }

    .card-drawer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .card {
        &:not(:last-child) {
          margin-right: 10px;
        }

        &.player-deck {
          background-size: $cardWidth $cardHeight;
          background-image: url(../images/player_card.png);

          &.dealing {
            position: absolute;
            opacity: 0.6;
          }
        }

        &.epidemic {
          z-index: -1;
        }
      }

      .epidemics {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .intro-dialog {
    top: 100px;

    .modal-header {
      font-size: 1.4em;
      text-align: center;
    }

    .intro-players {
      display: flex;

      > div {
        flex-grow: 1;
      }

      .player-name {
        font-weight: bold;
        font-size: 1.2em;
      }
    }

    .modal-footer {
      text-align: center;
    }
  }
}

.setup {
  width: 100%;
  height: 100vh;

  h1 {
    font-family: "Phage";
    font-size: 4em;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    -webkit-background-clip: text;
    animation: header-shadow 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }

  h2 {
    margin: 5px 0 0;
  }

  h5 {
    margin-bottom: 50px;
    font-size: 0.9em;
  }

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button:focus {
    outline: none;
  }

  .dropdown {
    button, .dropdown-menu {
      width: 100%;
    }
  }

  .menu {
    .btn {
      width: 200px;
      margin-bottom: 10px;
    }
  }

  .quick-game {
    .number-container {
      margin-bottom: 20px;

      button:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .custom-game {
    .difficulty {
      margin-bottom: 20px;

      > span {
        margin-right: 10px;
      }

      .dropdown {
        width: 150px;
        text-align: center;
      }
    }

    .player-container {
      position: relative;
      height: 170px;
      display: flex;
      align-items: stretch;

      .player {
        width: 220px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 0;

        &:not(:first-child) {
          margin-left: 10px;
        }

        .player-name {
          font-weight: bold;
          font-size: 1.2em;
        }
      }

      .spacer {
        flex-grow: 1;
      }
    }
  }

 .add-player {
    font-size: 19px;
    top: 60px;
  }

  .button-container {
    position: relative;
    margin-top: 30px;

    .btn-primary {
      width: 150px;
    }

    .btn-link {
      position: absolute;
      top: 5px;
    }
  }
}

.rates-popover {
  max-width: 400px;
  z-index: 20000;
  font-family: 'Phage';

  h4 {
    margin: 0 0 5px;

    span {
      display: inline-block;
      width: 100%;
    }
  }

  ul {
    margin: 0;

    li {
      width: 30px;
      height: 30px;
      text-align: center;
    }
  }

  .infection-rate {
    margin-bottom: 10px;
    text-align: center;

    li {
      border-radius: 15px;
      line-height: 30px;

      &:not(:first-child) {
        margin-left: 4px;
      }

      &:not(.current) {
        background: rgba(0, 0, 0, 0.1);
      }

      &.past {
        opacity: 0.65;
      }
    }
  }

  .outbreaks {
    li {
      background-size: 30px 30px;
      background-image: url(../images/outbreaks_shape.png);

      &:not(:first-child) {
        margin-left: 2px;
      }

      &.past {
        background-image: url(../images/outbreaks_filled.png);
      }
    }
  }
}
